<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">User Name</th>
            <th scope="col">Text</th>
            <th scope="col">Created At</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tweet of tweets">
            <th scope="row">{{tweet.id}}</th>
            <td>{{tweet.userName}}</td>
            <td>{{tweet.text}}</td>
            <td>{{tweet.createdAt}}</td>
        </tr>
    </tbody>
</table>